### <CENTER><h1><u>Binary Logistic Regression</u></CENTER></h1>

<br>

<CENTER>(TEAM CONTRIBUTORS: SHASHANK SHEKHAR, BITTERLEIN KONNOTH BIJU, CHAITANYA DEVARSHI)</CENTER>

-------
-------

<h2><u>Content</u></h2>

1. [Introduction](#1.-Introduction)

  1.1 [Problem Statement](#1.1-Problem-Statement)
  
  1.2 [Methodology](#1.2-Methodology)
  

2. [Data Loading & Preparation](#2.-Data-Loading-&-Preparation)

  2.1 [Read the Data](#2.1-Read-the-Data)
  

3. [EDA](#3.-Exploratory-Data-Analysis)

  3.1 [Missing Values](#3.1-Missing-Values)
  
  3.2 [Univariate](#3.2-Univariate-Analysis)
  
   - 3.2.1 [For numeric features](#3.2.1-Univariate-Analysis-for-numeric-features)
     
   - 3.2.2 [For Binary features](#3.2.2-Univariate-Analysis-for-Binary-features)
     
  3.3 [Bivariate](#3.3-Bivariate-Analysis)
  
  3.4 [Multivariate](#3.4-Multivariate-Analysis)


4. [Data Cleaning](#4.-Data-Cleaning)

  4.1 [Handling Skewness](#4.1-Handling-Skewness)
  
  4.2 [Handling Outliers](#4.2-Handling-Outliers)


5. [Prepped Data Review](#5.-Prepped-Data-Review)


6. [Dimensionality Reduction](#6.-Dimensionality-Reduction)

  6.1 [Variance Threshold](#6.1-Variance-Threshold)
  
  6.2 [Backward Elimination](#6.2-Backward-Elimination)


7. [Binary Logistic Regression Models](#7.-Binary-Logistic-Regression-Models)

  7.1 [1<sup>st</sup> Model](#7.1-1st-Model)
  
  7.2 [2<sup>nd</sup> Model](#7.2-2nd-Model)
  
  7.3 [3<sup>rd</sup> Model](#7.3-3rd-Model)
  
  
8. [Model Selection](#8.-Model-Selection)


9. [Conclusion](#Conclusion)

===================================================================================================================

## 1. Introduction

----

<b> [Back to Content](#Content) </b>

## 1.1 Problem Statement

In [2]:
print('Hiiiii')

Hiiiii

----

<b> [Back to Content](#Content) </b>

## 1.2 Methodology

<h3><u> To address this assignment, we will follow these below steps :- </u></h3>

1. **Load the dataset**: Upload the `M7_Data.csv` file from the DAV 6150 Github Repository.

2. **Read the dataset**: Using a Jupyter Notebook, read the dataset from the respective Github repository and load it into a Pandas DataFrame.

3. **Perform EDA**: Carry out Exploratory Data Analysis to examine the dataset's structure and understand the variables.

4. **Identify and rectify issues**: Detect data quality and integrity issues such as missing values or outliers during EDA, and take appropriate actions to address them.

5. **Prepped Data Review**: Here, we will cross check every thing and will make sure our data is ready for further analysis.

6. **Feature Scale, Selection & Dimensionality Reduction**: Applying feature selection techniques and perform dimensionality reduction to prepare the data for modeling.

7. **Binary Logistic Regression Modelling**: We will make 3 different models of Binary Logistic Regression.

8. **Models Selection**: Among the 3 different models, we will make our judgement on selecting one model.

9. **Conclusion**: We will conclude our work.

----

<b> [Back to Content](#Content) </b>

## 2. Data Loading & Preparation

In [1]:
# Importing basic Libraries.

import pandas as pd 
import numpy as np

# Importing Libraries for statistical analysis.

import statsmodels.api as sm
from scipy import stats

# Importing Libraries for machine learning models.

import sklearn
from sklearn import metrics
import imblearn
from imblearn.metrics import specificity_score
from sklearn.metrics import roc_auc_score, roc_curve, auc, classification_report
from sklearn.feature_selection import VarianceThreshold
from sklearn.linear_model import PoissonRegressor

# Importing Libraries for plotting the graphs.

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
%matplotlib inline

# Importing Libraries for Standarising and Normalising.

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# Import Library for PCA

from sklearn.decomposition import PCA

# Import missingno library for checking on missing values.

import missingno as msno

# Importing train_test_split .

from sklearn.model_selection import train_test_split, cross_val_score, KFold

# Importing Library for imputing null values.

from sklearn.impute import KNNImputer

# Importing filterwarnings from warnings to ignore warnings.

import warnings
warnings.filterwarnings("ignore")

----

<b> [Back to Content](#Content) </b>

### 2.1 Read the Data

In [2]:
# Loading the data from the github repository DAV-6150.

insurance_data = pd.read_csv("https://raw.githubusercontent.com/chetan5373/DAV-6150/refs/heads/main/M7_Assignment/M7_Data.csv")
df = insurance_data.copy()
df.head()

,TARGET,loyalty,ID,age,city,LOR,prod_A,type_A,type_B,prod_B,turnover_A,turnover_B,contract,age_P,lor_M
0,Y,99,77,66,2,0,0,0,0,0,333.561114,264.721010,2,66,3
1,Y,1,159,45,2,3,1,3,3,1,394.735699,284.904978,2,45,39
2,Y,1,220,42,2,2,1,3,6,1,342.180990,1175.589721,2,42,27
3,Y,99,303,31,2,0,0,0,0,0,453.757916,242.341754,2,31,3
4,Y,99,306,62,2,0,0,0,0,0,384.577469,287.008370,2,62,3

In [3]:
# Identifing how many rows and columns the dataframe consist of.

df.shape

(14016, 15)

In [4]:
# Getting a concise summary of the DataFrame .

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14016 entries, 0 to 14015
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TARGET      14016 non-null  object
 1   loyalty     14016 non-null  int64
 2   ID          14016 non-null  int64
 3   age         14016 non-null  int64
 4   city        14016 non-null  int64
 5   LOR         14016 non-null  int64
 6   prod_A      14016 non-null  int64
 7   type_A      14016 non-null  int64
 8   type_B      14016 non-null  int64
 9   prod_B      14016 non-null  int64
 10  turnover_A  14016 non-null  float64
 11  turnover_B  14016 non-null  float64
 12  contract    14016 non-null  int64
 13  age_P       14016 non-null  int64
 14  lor_M       14016 non-null  int64
dtypes: float64(2), int64(12), object(1)
memory usage: 1.6+ MB

**Dataset observation:**



- Index ranges from 0-14015.

- Total number of attributes are 15.

- Where, 12 are 'int', 2 are 'float' and 1 is 'object'.

- As of now there is no any missing values in any columns.

----

<b> [Back to Content](#Content) </b>

## 3. Exploratory Data Analysis

- Analyzing a data set for purposes of summarizing its characteristics, identifying relationships between its attributes, and discovering patterns, trends, outliers, missing values and invalid values within the data.

In [5]:
# Checking columns names.

df.columns

Index(['TARGET', 'loyalty', 'ID', 'age', 'city', 'LOR', 'prod_A', 'type_A',
       'type_B', 'prod_B', 'turnover_A', 'turnover_B', 'contract', 'age_P',
       'lor_M'],
      dtype='object')

----

<b> [Back to Content](#Content) </b>

### 3.1 Missing Values

In [6]:
# Checking for null values.

df.isnull().sum()

TARGET        0
loyalty       0
ID            0
age           0
city          0
LOR           0
prod_A        0
type_A        0
type_B        0
prod_B        0
turnover_A    0
turnover_B    0
contract      0
age_P         0
lor_M         0
dtype: int64

- As of now there is no nulls are present.

In [12]:
# Checking for duplicate values.

df.ID.duplicated().sum()

3008

-

----

<b> [Back to Content](#Content) </b>

### 3.2 Univariate Analysis

----

<b> [Back to Content](#Content) </b>

### 3.2.1 For Numeric Features

----

<b> [Back to Content](#Content) </b>

### 3.2.2 For Categorical Features

----

<b> [Back to Content](#Content) </b>

### 3.3 Bivariate Analysis

----

<b> [Back to Content](#Content) </b>

### 3.4 Multivariate Analysis

----

<b> [Back to Content](#Content) </b>

## 4. Data Cleaning

----

<b> [Back to Content](#Content) </b>

### 4.1 Handling Skewness

----

<b> [Back to Content](#Content) </b>

### 4.2 Handling Outliers

----

<b> [Back to Content](#Content) </b>

## 5. Prepped Data Review

In [8]:
# # Checking every columns has the correct data types.

# df_clean.dtypes

In [9]:
# # Ensure that there are no duplicates.

# df_clean.duplicated().sum()

In [10]:
# # Ensuring that there is no null value present.

# df_clean.isnull().sum()

----

<b> [Back to Content](#Content) </b>

#### Ensuring Univariate

----

<b> [Back to Content](#Content) </b>

#### Ensuring Bivariate

----

<b> [Back to Content](#Content) </b>

#### Multivariate Bivariate

----

<b> [Back to Content](#Content) </b>

## 6. Dimensionality Reduction

----

<b> [Back to Content](#Content) </b>

### 6.1 Variance Threshold

----

<b> [Back to Content](#Content) </b>

### 6.2 Backward Elimination

----

<b> [Back to Content](#Content) </b>

## 7. Binary Logistic Regression Models

----

<b> [Back to Content](#Content) </b>

### 7.1 1<sup>st</sup> Model

----

<b> [Back to Content](#Content) </b>

### 7.2 2<sup>nd</sup> Model

----

<b> [Back to Content](#Content) </b>

### 7.3 3<sup>rd</sup> Model

----

<b> [Back to Content](#Content) </b>

## 8. Model Selection

----

<b> [Back to Content](#Content) </b>

## Conclusion

<b> [TOP⬆️](#Implementing-and-Evaluating-a-Series-of-Regression-Models) </b>

---
<h3><center>THE END</center></h3>

===================================================================================================================